.App {
  text-align: center;
}

.hero-banner-img {
  width: 450px;
  height: 350px;
}

@media screen and (max-width: 962px) {
  .hero-banner-img {
    width: 400px;
    height: 300px;
  }
}
@media screen and (max-width: 676px) {
  .hero-banner-img {
    width: 350px;
    height: 250px;
  }
}

.sec-hero-banner-img {
  width: 550px;
  height: 210px;
  /* layout: fill; */
  object-fit: contain;
}
@media screen and (max-width: 581px) {
  .sec-hero-banner-img {
    width: 380px;
    height: 180px;
  }
}
